.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 100;
  height: 50px;
}
.logo {
  height: 100%;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  img {
    height: 100%;
    vertical-align: top;
  }
}
